<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Som</title>
</head>
<body>
    <% if (animal == "cao") { %>
        <p>O cachorro faz: AU AU AU!</p>
        <img src="../imagens/dog.jpg" alt="">
    <%} else if(animal == "gato") { %>
            <p>O gato faz: MIAUUU MIAUU MIAUU!</p>
            <img src="../imagens/cat.jpg" alt="">
    <%} else if(animal == "vaca") { %>
            <p>A vaca faz: MUUU MUUU MUU!</p>
            <img src="../imagens/vaca.jpg" alt="">
    <%} else if(animal == "ovelha") { %>
            <p>A ovelha faz: BEHHH BEHHH BEHH!</p>
            <img src="../imagens/ovelha.jpg" alt="">
    <%} else if(animal == "cavalo") { %>
            <p>O cavalo faz: IHH IHHH IHHH!</p>
            <img src="../imagens/cavalo.jpg" alt="">
    <%} else {%>
        <img src="../imagens/error.png" alt="">
    <% } %>        
    
</body>
</html>